BOT_TOKEN="8279559705:AAHHvXDkT5e0SY8bSerGab0U5FKxnbBpPgI"
MONGODB_URL="Insert your mongo db url here"
DB_NAME="Insert your mongo db name here"
COLLECTION_NAME="Insert your mongo db collection name here"
# Insert your telegram user id/s separated by pipe
USERS="123456789|123456789"
